*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
iframe{
    width: 100vw;
    height: 89.8vh;
    margin: 0;
    padding: 0;
    box-shadow: 0em 0.15em 0.2em black;
}
.TitulodoVideo{
    color: #fefefe;
    line-height: 1.05em;
    width: 100vw;
    height: 10vh;
    margin-top: -3.8px;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    background:rgba(0, 0, 0, .5);
}
.TitulodoVideo div{
    text-align: left;
    margin-left:-10px;
    font-size: 0.8em;
}

@media (max-width:360px){
    .TitulodoVideo{
        font-size: 1em;
    }
}
