body {
  height: 100vh;
  padding-bottom:0;
}
h1,
h2 {
  font-size: 2.3rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.2;
}

h1::before {
  content: "📧";
  display: contents;
}

h2::before {
  content: "🐅";
  display: block;
}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
  border: 0 !important;
}

.form p{
  color: #fff;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form label {
  color: #fff;
  display: block;
  line-height: 1;
  font-size: 19px;
  font-weight: 600;
  text-align: left;
  padding: 0.4rem;
  margin: 0rem 0.4rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem 0 0.8rem 0;
  margin-bottom: 0.1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 8rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
  width: 90%;
  padding: 1rem;
  margin-top: 0.5rem;
  background: #0072c4;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #09d;
}

.container-footer{
  display: none !important;
}

@media (max-width:900px){
  .cabecalho .CRight{
    width: 100%;
  }
  .cabecalho .CRight .form{
    width: 90%;
    position: relative;
    left: -1.2%;
  }
  .cabecalho .CRight .form button{
    width: 100%;
  }
  .form p{
    font-size: .75em;
  }
}